---
import type { CollectionEntry } from 'astro:content';

interface Props {
  project: CollectionEntry<'projects'>;
}
const { project } = Astro.props;
const { Content } = await project.render();
---

<div id={`${project.data.id}-display`} class="project-display">
  <div
    class={`project-info ${
      project.data.codepen ? 'closable-info' : `${project.data.id}background project-background-image`
    }`}
  >
    <div class="text-bottom">
      <h3>{`{ ${project.data.title} }`}</h3>
      <Content />
    </div>
  </div>

  <p
    class="codepen"
    data-height="850"
    data-theme-id="dark"
    data-default-tab="result"
    data-slug-hash={project.data.codepenUrl}
    data-user="reversethepolarity"
    style="height: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid;
            margin: 1em 0;
            padding: 1em;"
  >
    <span>
      See the Pen
      <a href={`https://codepen.io/reversethepolarity/pen/${project.data.codepenUrl}`}>{project.data.title}</a> by Samuel
      (<a href="https://codepen.io/reversethepolarity">@reversethepolarity</a>) on
      <a href="https://codepen.io">CodePen</a>.
    </span>
  </p>
</div>
